.logo_area{
  box-sizing: border-box;

  position: relative;
  width: 1440px;
  height: 130px;

  background: #870A0A;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.left_nav{
  box-sizing: border-box;

  position: relative;
  width: 281px;
  height: 894px;

  background: #F8B229;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.contents{
  box-sizing: border-box;

  position: relative;
  width: 1157px;
  height: 894px;

  background: #BCA9A9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
