body{
  margin: 30px;
}

h2{
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: #F8B229;
  width: 300px;
  height: 50px;
}
.wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.logo_area{
  grid-column: 1/span 2;
  box-sizing: border-box;
  position: relative;
  background: #870A0A;
  border-radius: 2px;
  padding: 20px;
}

.left_nav{
  grid-column: 1;
  position: relative;
  background: #F8B229;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 100s0px;
}

.contents{
  grid-column: 2;
  box-sizing: border-box;
  position: relative;
  background: #165B33;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.userInfo{
  border-style: dashed;
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  height: 200px;
  width: 150px;
  border-color: #870A0A;
}

#info_name{
  background-color: #F8B229;
  padding: 5px 10px 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;

}

button{
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  padding: 10px;
  margin: 20px;
  height: 50px;
  width: 160px;
  background-color: #870A0A;
}

button:hover{
  background-color: #E9CCCC;
  color: black;
}

#logoutbtn{
  margin-top: 50px;
  border-style: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 20px;
  height: 25px;
  width: 130px;
  background-color: #231010;
  color: white;

  font-weight: bold;
}

#logoutbtn:hover{
  background-color: #E4D6BB;
}

#christmas{
  color: white;
  font-size: 40px;

}

#contect{
  font-size: 20px;
  font-weight: bold;
}

.messagearea{
  position: relative;
  font-weight: bold;
  font-size: 20px;
}

.composeWindow{
  display: none;

}

.inboxWindow{
  display: none;

}

.inbox_wrap{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}
.inbox_src, .outbox_src{
  height: 250px;
  width: 250px;
  background-color: white;
  margin: 20px;
  border-style: solid;
  border-color: #870A0A;
  border-radius: 50px;
}

.outboxWindow{

}

.outbox_wrap{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}
